/* Empty. Add your own CSS if you like */

.content-form {
	width: 100%;
	height: 95%;
	
}

.white {
	color: #ddd;
}

.noneBorders{
	border: none;
}

.background-container{
	background-color: #666;
}

.item.item-dark2 {
	border-color: #111;
    background-color: #666;
    color: #fff;
    word-wrap: break-word;
}

.textarea2{
	padding-left: 5px;
	padding-right: 5px;
	outline-offset: 0;
    outline-style: none;
    outline-width: 0;
}


input[type="text"]{
	color: #f2f2f2;
}

input[type="date"]{
	color: #f2f2f2;
	width: 50%;
	

}

